# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Create Pane atom-dwm'
      'command': 'atom-dwm:create-pane'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-dwm'
      'submenu': [
        {
          'label': 'Create Pane'
          'command': 'atom-dwm:create-pane'
        }
      ]
    ]
  }
]
